{% extends "base.html" %}
{% block title %}
  Публикации в категории - {{ posts.0.category }}
{% endblock %} 

{% block content %}
  <div class="container py-5">
      <h1>Публикации в категории - {{ category_slug }}</h1>
      {% comment %}
    В задании не просили, но я сделала страницу категорий с постами по этим категориям, если не пригодится, уберу
      
    {% for post in posts%}
    <hr>
      <article>
        {% include 'includes/post_info.html' %}                 
        <p>
            {{ post.text|truncatewords:10 }}
        </p>
        <a href="{% url 'blog:post_detail' post.id  %}">Читать полный текст</a>
      </article>
    {% endfor %} 
    
    {% endcomment %}  
  </div>
{% endblock %}